
*.bin

*.lock

.gradle/buildOutputCleanup/cache.properties

*.xml

*.java

*.java

*.gradle

*.java

*.json

*.json

*.jar

*.java

*.json

*.json

*.json

*.json

app/build/intermediates/blame/res/debug/single/drawable-hdpi-v4.json

app/build/intermediates/blame/res/debug/single/drawable-hdpi-v4.json

app/build/intermediates/blame/res/debug/single/drawable-hdpi-v4.json

app/build/intermediates/blame/res/debug/single/drawable-ldrtl-hdpi-v17.json

*.json
